$darkGreen: #1e3932
$green: #008248
$paleGreen: #d4e9e2
$superPaleGreen: #f1f8f6

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap')

body 
  font-family: 'Open Sans', sans-serif

.navbar
  display: flex
  justify-content: space-between
  &__logo
    height: 3rem
.banner
  background-color: $darkGreen
  color: white
  display: flex
  justify-content: space-between
  align-items: center

  &__button
    border: 1px solid #fff
    background-color: $darkGreen
    color: #fff
    border-radius: 25px
    height: fit-content
    padding: 0.5rem 1rem
.hero
  background-color: #d4e9e2
  // background-image: url('https://www.starbucks.com/weblx/images/rewards/hero/hero-mobile_2021.jpg')
  // background-repeat: no-repeat
  // background-size: cover
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  text-align: center
  
  > *
    width: 100%
    margin-left: 20%
    margin-right: 20%

  &__title
    text-transform: uppercase
    font-weight: 600

  &__button
    border: 1px solid #fff
    background-color: $green
    color: #fff
    border-radius: 25px
    height: fit-content
    padding: 0.5rem 1rem

.link
  text-decoration: underline
  cursor: pointer
  &:hover
    text-decoration: none

.getting-started
  text-align: center

.getting-started-steps
  &__step
    display: flex
    &__image
      height: 3rem
      padding-top: 1.5rem
      padding-right: 1rem 
  &__step-content
    text-align: left

.rewards-tabs
  background-color: $superPaleGreen
  &__header
    padding: 1.5rem 1rem
    box-shadow: 0px 7px 9px -7px rgba(0, 0, 0, 0.4)
  &__title
    text-align: center
    font-size: 1.5rem
    font-weight: 600
  &__tab-buttons
    display: flex
    justify-content: space-around
    font-weight: 600
    font-size: 1.2rem
  &__content
    background-color: $paleGreen
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding-top: 3rem
    padding-bottom: 3rem
    > img
      width: 90%
    > p
      text-align: center
      font-size: 0.9rem
    > h4
      font-size: 1.2rem
      font-weight: 600
      margin-bottom: 0
.extras
  &__header
    text-align: center
  &__header-title
    font-size: 1.5rem
    font-weight: 600
  &__header-subtitle
    font-size: 0.9rem
  &__content
    display: flex
    > img
      height: 7rem
      padding-top: 1.5rem
      padding-right: 1rem
    &__details
      text-align: left
      padding-bottom: 2rem
      > p
        font-size: 0.9rem
      
