.extras
  padding: 3rem 1rem
  &__body
    display: flex
    padding-bottom: 2rem
  &__image
    height: 7rem
    padding-top: 1.5rem
    padding-right: 1rem
  &__content
    padding-bottom: 2rem
    text-align: left
